<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Hello, {{current_user.user}}!</h1>
  <p>Current Hunger is: <span id ="hunger"></span></p>
  <button onclick = "feed()">Feed!</button>
  <p>Current Happiness: <span id = "happiness"></span></p>
  <button onclick = "play()">Play!</button>
  <p>Current Sleepiness: <span id = "sleepiness"></span></p>
  <button onclick = "sleep()">Sleep!</button>

  <div id = "petSpriteRectangle">
    <div id = "petSprite"></div>
  </div>


</body>
<script src = "{{ url_for('static', filename='home.js') }}"></script>
<link rel = "stylesheet" href="homeStyle.css">
